name: CI

on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - run: make setup_ubuntu
    - run: make lint
    - run: make -j$(nproc)
    - uses: actions/upload-artifact@v6
      with:
        name: ramsete-unicycle-controller.pdf
        path: ramsete-unicycle-controller.pdf
